@media print {

    .print-button,
    .back-button,
    .status-container,
    .status-button {
        display: none;
        /* Hide specific elements during print */
    }
}
body {
    font-family: Arial, sans-serif;
}
.competency-table, .summary-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}
.competency-table th, .competency-table td{
    border: 1px solid #000;
    padding: 8px;
}
.summary-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}

.summary-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}

.summary-table th, .summary-table td {
    padding: 8px;
    text-transform: uppercase;
    font-weight: bold;
    border: none;
    text-align: left;
    vertical-align: middle; /* Aligns text and numbers in the middle */
    line-height: 1.8; /* Adjusts line height within rows */

}

.summary-table th:last-child, .summary-table td:last-child {
    text-align: right;
}

.summary-table tr td:first-child {
    padding-right: 20px; /* Adds spacing between the text and the separator */
}

.summary-table td {
    border-bottom: 1px solid #000; /* Adds a line under each row */
}

.summary-table tr td:not(:last-child) {
    border-right: 2px solid #000; /* Adds a vertical line between the text and number columns */
    
}

.summary-table th:last-child, .summary-table td:last-child {
    width: 150px; /* Ensures numbers are in a fixed width column */
}

.competency-table th, .summary-table th {
    background-color: #a0a0a0;
}
.section-title {
    font-weight: bold;
}
.header-info {
    margin-top: 20px;
    
}
.header-info th {
    text-align: left;
    width: 250px;
}
.header-info tr {
        width: 150px; /* Ensures numbers are in a fixed width column */
}
.header-info td {
    width: auto;
    
}
.sign-section {
    margin-top: 40px;
}
.sign-section td {
    padding: 5px;
}