@media print {
    .no-print, .no-print * {
        display: none !important;
        
    }
}
body {
    font-family: Arial, sans-serif;
}
.competency-table, .summary-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}
.competency-table th, .competency-table td{
    border: 1px solid #000;
    padding: 8px;
}
.summary-table {
    width: 60%;
    border-collapse: collapse;
    margin-top: 10px;
}

.summary-table th, .summary-table td {
    padding: 8px;
    text-transform: uppercase;
    border: none;
    text-align: left;
    vertical-align: middle; /* Aligns text and numbers in the middle */
    line-height: 1.8; /* Adjusts line height within rows */
    font-size: 1.0em; /* Adjusts font size to be smaller */
    white-space: nowrap; /* Prevents line breaks within cells */
}



.summary-table th:last-child, .summary-table td:last-child {
    text-align: left;
}

.summary-table td {
    border-bottom: 1px solid #000; /* Adds a line under each row */
}



.summary-table th:last-child, .summary-table td:last-child {
    width: 150px; /* Ensures numbers are in a fixed width column */
}


.competency-table th, .summary-table th {
    background-color: #a0a0a0;
}
.section-title {
    font-weight: bold;
}
.header-info {
    margin-top: 20px;
    
}
.header-info th {
    text-align: left;
    width: 250px;
}
.header-info tr {
        width: 150px; /* Ensures numbers are in a fixed width column */
}
.header-info td {
    width: auto;
    
}
.sign-section {
    margin-top: 40px;
}
.sign-section td {
    padding: 5px;
}