body{
    font-family: Calibri;
    font-size: 21px;
    margin-top: 0;
    margin-left: 25pt;
    margin-right: 25pt;
}
ol, li, ul{
    font-weight: bold;
}
li{
    list-style-type: upper-roman;
}
.li1{
    list-style: none;
    font-weight: normal;
}
.li2{
    font-weight: normal;
    list-style: inherit !important;
}
.li3{
    list-style-type: none;
    font-weight: normal;
}
.li4{
    list-style: lower-alpha;
    font-weight: normal;
}
p, div{
    font-weight: normal;
}
h3, p{
    text-align: center;
    margin: 0%;
}
h4{
    margin: 0%;
}

/*@media print{@page {size: landscape}}*/

@media screen {
    div.divFooter{
      display: none;
    }
    .br{
        display: none;
    }
}
@media print {
    div.divFooter {
      position: fixed;
      bottom: 0;
    }
}
@media screen {
    div.divHeader{
      text-align: center;
      display: flex;
    }
    hr{
        display: block;
    }
}
div.divHeader{
    position: relative;
    display: block;
}
@media print {
    div.divHeader {
        display: block;
        position: fixed;
        top: 0;
        left: 50%;
        translate: -50%;
        display: flex;
  }
}
img{
    height: 60pt;
}

.XIth{
    border: none;
    color: red;
    font-size: small;
}
#HideBorder{
    border: none;
}

textarea {
    overflow: hidden;
    resize: none;
    border: none;
}
.table3 {
    border-collapse: collapse;
}
.table3, .table3 th, .table3 td {
    border: 1px solid black;
}

.hoursInput{
    width: 5pt;
}
@media print{
    .trHeads{
        background-color: lightgray;    
    }
}
@media print{
    table.report-container{
        page-break-after: always;
    }
    thead.report-header{
        display: table-header-group;
    }
    tfoot.report-footer{
        display: table-footer-group;
    }
}
table.report-container{
    page-break-after: always;
}
thead.report-header{
    display: table-header-group;
}
tfoot.report-footer{
    display: table-footer-group;
}