@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

*{
    margin: 0%;
    font-family: 'Montserrat', sans-serif;
    
}
.containerOfAll{
    display: grid;
    background-color: #0C1821;
    height: 580pt;
}
div .logo{
    text-align: center;
    height: 70pt;
}
img{
    height: 60pt;
    margin: 10pt;
    border-radius: 10%;
}
body{
    background-color: #0C1821;
}
/*TOP PART*/


/*CONTAINERS*/
.subjectsContainer{
    display: grid;
    grid-template-columns: 15% 84.9%;
}
.navSubject{
    background-color: #324A5F;
}
.implementContainer{
    background-color: #0C1821;
    
}
.implementContainer h5, p{
    color: white;
}
.navtab button{
    background-color: goldenrod;
    border: none;
    margin-right: 1pt;
    margin-top: 30pt;
    height: 20pt;
    box-shadow: -1pt -1pt 15pt 1pt
}
main{
    background-color: burlywood;
    width: 100%;
    border-bottom-right-radius: 10pt;
    box-shadow: 10px 20px 20px;
}
.subList{
    background-color: white;
    margin: 15%;
    
}
.subsContainer{
    text-align: center;
}

.subjects button{
    text-align: center;
    margin-bottom: 5pt;
    width: 100pt;
    border-radius: 5px;
    padding: 8px;

}


/*DISPLAYS*/
.navSubject ul{
    margin: 10pt;
    padding: 5pt;
    text-align: center;
}
.selectSub{
    text-align: center;
    display: flex;
    justify-content: center;
}
.navSubject .selectSub select{
    /*display: none;*/
    text-align: center;
    border-radius: 10pt;
    width: 70%;
}
.navSubject .selectIns select{
    /*display: none;*/
    text-align: center;
    border-radius: 10pt;
    width: 70%;
    margin-left: 15%;
}
.selectSub button{
    display: none;
    border-style: none;
    border-radius: 10pt;
    width: 10%;
}
.selectSub button:hover{
    cursor: pointer;
    box-shadow: 2px 2px 2px 2px;
    background-color: goldenrod;
}
.selectSub select:hover{
    cursor: pointer;
    box-shadow: 2px 2px 2px 2px;
}
.navSubject .subList button{
    display: none;
    background-color: white;
    box-shadow: 2px 2px 2px 2px;
    border-radius: 5pt;
    margin: 5pt;
    padding: 3pt;
}
.navSubject ul button{
    border-style: none;
    border-radius: 10pt;
}

/*.navSubject ul div{
    display: none;
    position: absolute;
}*/

.navSubject ul button:hover { /*the ADD button sa ubos*/
    cursor: pointer;
    box-shadow: 2px 2px 2px 2px;
    background-color: goldenrod;
}

/*.navSubject button:hover .dropdownBtnContent {
    display: block;
}*/

.navtab {
    display: grid;
    grid-template-columns: 33% 33% 34.2%;
}
.navtab button{
    border-top-left-radius: 5pt;
    border-top-right-radius: 5pt;
}

/*FONT STYLES*/
li{
    list-style-type: none;
}
header{
    text-align: center;
    background-color: #324A5F;
    padding-top: 20pt;
}

.tabcontent{
  display: none;
  text-align: center;
  height: 540pt;
}

.tablinks{
    font-weight: 900;
}
.navtab button:hover {
    cursor: pointer;
    background-color: burlywood;
    }

/*MAIN nani dire dapit*/

ul{
    font-weight: 900;
    text-align: left;
}

.br{
    background-color: #324A5F;
}

table{
    width: 95%;
    text-align: center;
    color: white;
    margin-left: auto;
    margin-right: auto;
}
.remarksTable th{
    background-color: #0C1821;
    text-align: center;
    color: white;
}
.remarksTable tr{
    background-color: white;
    color: black;
}
.remarksTable .submitRate{
    background-color: burlywood;
}
input[type=checkbox]
{
  transform: scale(2);
}

/*INPUTS*/
.inputRange input{
    margin-left: 10pt;
}

/*RESPONSIVE media*/
@media (max-width: 600px) {
    .navSubject ul button{
        width: 100%;
    }
    .selectSub select{
        width: 100%;
    }
}
@media (min-width: 800px) {
    .selectSub button{
        width: 20%;
    }
}



/* plans */
a{
    text-decoration-line: none;
    color: black;
}
#containerPlan{
    display: flex;
    justify-content: center;
}
#containerPlan p{
    color: black;
}
.planCard{
    background-color: whitesmoke;
    width: 300pt;
    height: 300pt;
    margin: 20pt;
    border-top-right-radius: 10pt;
    border-bottom-left-radius: 10pt;
    box-shadow: 1pt 1pt 15pt 1pt;
}

#containerComment{
    padding: 20pt;
}
.commentCard{
    float: left;
    background-color: white;
    color: black;
    border-radius: 5pt;
    margin: 5pt;
}
.commentCard p{
    color: black;
}
.commentCard .footerTopic{
    background-color: #0C1821;
    color: white;
    border-bottom-right-radius: 5pt;
    border-bottom-left-radius: 5pt;
}

.logout_btn{
    display: block;
    margin: auto;
    margin-top: 240px;
    padding: 7px 20px;
    border-radius: 5px;
    border-style: none;
    background: #1e90ff;
    color: fff;
    cursor: pointer;
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
    -webkit-transform-duration: 0.3s;
    transition-duration: 0.3s;
}

.logout_btn:hover, logout_btn:focus, logout_btn:active{
    box-shadow: 0 0 20px rgba (0,0,0,0.5);
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}
